@font-face {
  font-family: "Lato";
  src:
    local('Lato regular'),
    url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src:
    local('Lato bold'),
    url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    font-weight: 700;
}




:root {

  /* Color Palette */
  --bc-beige: #FBF5DD;
  --bc-teal: #A6CDC6;
  --bc-navy: #16404D;
  --bc-orange: #DDA853;

  /* font styles */

  --ff-base: Lato, serif;

  --fw-regular: 400;
  --fw-bold: 700;


  /* Font Sizes */
  --fs-six: 0.375rem;
  --fs-eight: 0.5rem;
  --fs-nine: 0.5625rem;
  --fs-ten : 0.625rem;
  --fs-eleven: 0.6875rem;
  --fs-twelve: 0.75rem;
  --fs-fourteen: 0.875rem;
  --fs-sixteen: 1rem;
  --fs-eighteen: 1.125rem;
  --fs-twentyFour: 1.5rem;
  --fs-thirty: 1.875rem;
  --fs-thirtySix: 2.25rem;
  --fs-fortyEight: 3rem;
  --fs-sixty: 3.75rem;
  --fs-seventyTwo: 4.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

* {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  display: grid;
  place-content: center;
  padding: min(5vh, 5rem) min (5vw, 5rem);



}




.login-container {
  /* padding: 0 min(10vw, 10rem) min(2vh, 2rem) min(10vw, 10rem); */
  
  border: 3px solid red;
  /* max-width: 40%; */
  margin: auto;
  display: grid;


}

.login-header {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: min(2vh, 2rem) min(2vw, 2rem)
}

.book {
  border: 1px solid black;
  align-self: center;
}

/* .login-header {
  border: 1px solid black;
  text-align: center;
  max-width: 40%;
  background-color: var(--bc-orange);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
} */


.login-header > h1 {
  font-size: var(--fs-thirty);
  border: 1px solid black;
  margin-block: auto;
  
}





.login-main {
  border: 3px solid lime;
  padding: min(5vh, 5rem) min(5vw, 5rem);
  margin: auto;
  /* max-width: 90%; */
}

.login-form {
  display: grid;
  grid-template-rows: 2.5rem auto;
  gap: 1rem;
}

label, input {
  border: 1px solid black;
  display: block;
}



/* .login-main {
  background-color: var(--bc-teal);
  margin: 0 auto 0 auto;
  border: 1px solid black;
  padding: clamp(2rem, 4vw, 4rem);
  padding-top: 0;
  border: 1px solid black;
  max-width: 40%;
} */
